{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Vous y êtes presque !</h4>
        <p>Vous allez recevoir un mail de vérification. Une fois que vous aurez vérifié votre compte votre inscription sera validée</p>
        <hr>
        <p class="mb-0"><a href="http://localhost/La-Toile-Verte/web/app_dev.php" >Retourner à l'accueil</a></p>
    </div>
</div>

{% endblock %}
