footer
{
    color: white;
    position: absolute;
    bottom: 0;
    width:100%;
    padding-top: 10px;
    background-color: #269b26;
}
header{
    background-color: #269b26;
    color: white;
    margin-bottom: 30px;
}

.nav-link{
    color: white !important;
}
.nav-item{
    font-size: 1.5em !important;
    margin-left: 25px;
    margin-right: 25px;

}
.navbar-brand{
    margin-left: 15px;
    margin-right: 2rem !important;
}
.logo{
    height: 80px;
    width: auto;

}
body {
    background-image: url("test4.png");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto','Open Sans', sans-serif!important;
}

.navbar-toggler, .navbar-toggler collapsed{
    margin-top: 25px;
    margin-bottom: 0px;
}

