<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certification</title>
</head>
<body>
    <header>
        <h1>Certification GreenIT</h1>
    </header>
    <section>
        <h2>Obtenu par {{ user.firstName }} {{ user.lastName }} <em>le {{ date }}</em></h2>
        <h3>Avec {{ percent }}% de bonnes réponses</h3>
    </section>
    <footer>
        <a href="https://www.greenit.fr/"><img style="background-color:darkslategrey" src="https://www.greenit.fr/wp-content/themes/greenit/images/logo.png" alt="Logo GreenIT"></a>
    </footer>
</body>
</html>

