{% extends 'base.html.twig' %}

{% block body %}

    <div class="container connexion">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5 rr rr-left">
                <div>
                    <h2>Se connecter</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>

                <div class="col-lg-4 rr rr-right">
                    <div>
                        <h2>S'inscrire</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}" />
{% endblock %}