{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <div class="container connexion">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <a href="{{ path('fos_user_security_login') }}" class="col-lg-5 rr rr-left" style="text-decoration: none;">
                    <div>
                        <h2>Se connecter</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
            </a>

            <a href="{{ path('fos_user_registration_register') }}" class="col-lg-4 rr rr-right" style="text-decoration: none;">
                    <div>
                        <h2>S'inscrire</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block connected_content %}
    <div class="twitter">
        <a class="twitter-timeline"  href="https://twitter.com/search?q=%20%23GreenIT" data-widget-id="923817749377363968">#GreenIT</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}" />
{% endblock %}


