<section class="quiz" data-title="Certification Green IT" data-subtitle="Tentez d&#039;obtenir une certification Green IT">
        <section class="question">
        <section class="text">
            ça va ?
        </section>
                <section class="answer"  data-correct >Oui</section>
                <section class="answer" >Non</section>
                        <section class="description">Une description</section>
                    </section>
        <section class="question">
        <section class="text">
            T&#039;es sûr ?
        </section>
                <section class="answer"  data-correct >Oui vraiment</section>
                <section class="answer"  data-correct >OUI OUI</section>
                <section class="answer" >Non...</section>
                                <section class="hint">Il peut y avoir plusieurs bonnes réponses</section>
            </section>
    </section>
