<section class="quiz" data-title="Test" data-subtitle="description ...">
        <section class="question">
        <section class="text">
            ça va ?
        </section>
                <section class="answer"  data-correct >Oui</section>
                <section class="answer" >Non</section>
            </section>
        <section class="question">
        <section class="text">
            T&#039;es sûr ?
        </section>
                <section class="answer"  data-correct >Oui vraiment</section>
                <section class="answer"  data-correct >OUI OUI</section>
                <section class="answer" >Non...</section>
            </section>
    </section>
